@charset "UTF-8";
/* Підключення фрифтів */
/* Google Fonts (Plugin) */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura:wght@400&display=swap");
/* Локальне підключення шрифтів */
/* Скидання стилів */
@import url("reset.css");
/* Скидання змінних */
@import url("variables.css");


/* Основні стилі */
body {}

.wrapper {
	min-height: 100%;
	overflow: clip;
	/* clip */
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

/* --------------------- */
[class*=__container] {
	max-width: 1306px;
	padding-inline: 15px;
	margin: 0 auto;
}

/*====================================================================*/
	/* Стилі для header */
/*====================================================================*/

/*====================================================================*/
/*====================================================================*/
	/* Стилі для main */
/*====================================================================*/

/*====================================================================*/
/*====================================================================*/
	/* Стилі для footer *
//*====================================================================*/