.footer {
	// .footer__container
	&__container {
		& > * {
			margin-block-end: 60px;
		}
	}
	// .footer__items
	&__items {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: 0.75rem;
		
	}
	// .footer__item
	&__item {
		flex: 0 0 32%;
		
		
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		row-gap: 0.75rem;
	}
	// .footer__footer
	&__footer {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: wrap;
		row-gap: 0.75rem;
		line-height: 1.5;
		color: var(--dark);
	}
	// .footer__social
	&__social {
	}
	// .footer__copyright
	&__copyright {
	
	}
	// .footer__caption
	&__caption {
		font-family: var(--second-family);
		font-size: 24px;
		line-height: 1;
		transition: all 0.8s ease;
		
	}
}
