.page {
	// .page__hero
	&__hero {
		border-radius: 1.25rem 1.25rem 0 0;
	}
	// .page__about
	&__about {
		padding-block: 3.75rem;
	}
	// .page__slider
	&__slider {
		padding-block: 3.75rem 1.875rem;
	}
	// .page__best-gifts
	&__best-gifts {
		margin-block-start: -0.625rem;
		padding-block: 3.75rem;
	}
	// .page__cta
	&__cta {
		margin-block-start: -0.5rem;
		padding-block: 3.75rem;
	}
}
//========================================================================================================================================================
//?-HERO------------------------------------------------------------------------------------
.hero {
	position: relative;
	// .hero__container
	&__container {
		padding-block: 60px;
	}
	// .hero__body
	&__body {
		padding-block: 60px 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		z-index: 2;
	}
	// .hero__blok-hero
	&__blok-hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 0.75rem;
		color: var(--static-white);
		max-width: 26.75rem;

		position: relative;
		z-index: 2;
	}
	// .hero__bg
	&__image {
		border-radius: 1.25rem 1.25rem 0 0;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
//========================================================================================================================================================
//?-ABOUT------------------------------------------------------------------------------------
.about {
	position: relative;
	// .about__blok
	&__blok {
		background-color: var(--static-white);
		border-radius: 3.75rem;
		position: relative;
		
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: space-between;			
		gap: 10px;
		@media (max-width: 738px) {			
			flex-wrap: wrap;	

		
		}		

	}
	// .about__content
	&__content {
		
		padding-inline: 60px ;
		flex: 1 1 50%;		
		display: grid;
		row-gap: 1.25rem;	
		@media (max-width: 838px) {
			padding: 1.25rem;			
		}	
		@media (max-width: 738px) {
			padding: 3.75rem 1.25rem;			
		}	
	}

	// .about__img
	&__img {
		flex: 1 1 50%;
		aspect-ratio: 638/528;
	
		img {
			border-radius: 3.75rem;
			width: 100%;		
			object-fit: cover;
		}
	}
	// .about__image
	&__image {
	}
}

//========================================================================================================================================================
//?-SLIDER------------------------------------------------------------------------------------
.slider {
	position: relative;
	// .slider__container
	&__container {
		position: relative;
		z-index: 2;
	}
	// .slider__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 0.75rem;
		&:not(:last-child) {
			margin-block-end: 1.25rem;
		}
	}
	// .slider__swiper
	&__swiper {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		row-gap: 1.25rem;
	}
	// .slider__swiper-wrapper
	&__swiper-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		grid-column: 1.25rem;
	}
	// .slider__buttons
	&__buttons {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		column-gap: 0.75rem;
	}
	&__button--prev,
	&__button--next {
		border: 1px solid var(--static-white);
		border-radius: 1.25rem;
		padding: 0.9481rem 1.25rem;
		svg {
			fill: var(--static-white);
			transition: all 0.8s ease;
		}
		&:hover {
			transition: all 0.8s ease;
			background-color: var(--static-white);
			svg {
				fill: var(--primary);
			}
		}
		:active {
			opacity: 0.8;
		}
	}
	// .slider__button--prev
	&__button--prev {
	}
	// .slider__button--next
	&__button--next {
		rotate: 180deg;
	}
	// .slider__image
	&__image {
	}
}
//========================================================================================================================================================
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.slider-blok {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-column: 1.25rem;
	// .slider-blok__title
	&__title {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 5rem;
		text-transform: uppercase;
		text-align: center;
		color: var(--static-white);
	}
	// .slider-blok__images
	&__images {
		border-radius: 1.25rem;
		img {
			border-radius: 1.25rem;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
//========================================================================================================================================================
//?-BEST-GIFTS------------------------------------------------------------------------------------
.best-gifts {
	position: relative;
	// .best-gifts__container
	&__container {
		position: relative;
		z-index: 2;
	}
	// .best-gifts__content
	&__content {
		text-align: center;
		&:not(:last-child) {
			margin-block-end: 1.25rem;
		}
	}
	// .best-gifts__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		gap: 0.75rem;
	}
	// .best-gifts__card
	&__card {
	}
}
//========================================================================================================================================================
//?-CTA------------------------------------------------------------------------------------
.cta {
	position: relative;
	// .cta__container
	&__container {
		position: relative;
		z-index: 10;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.25rem;
	}
	// .cta__content
	&__content {
		text-align: center;
		& > *:not(:last-child) {
			margin-block-end: 1.25rem;
		}
		&:not(:last-child) {
			margin-block-end: 1.25rem;
		}
	}
	// .cta__button
	&__button {
	}
	// .cta__body
	&__body {
		max-width: 450px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	// .cta__sab-title
	&__sab-title {
		font-family: var(--second-family);
		font-size: 1.5rem;
		line-height: 1;
		color: var(--static-white);
		&:not(:last-child) {
			margin-block-end: 0.5rem;
		}
	}
	// .cta__timer
	&__timer {
		display: flex;
		border-radius: 1.25rem;
		padding: 0.5rem 0.75rem;
		background-color: var(--static-white-40);
	}
	// .cta__image
	&__image {
	}
}

.timer {
	// .timer__item
	&__item {
		padding: 0.875rem 0.5813rem;
		font-weight: 600;
		text-transform: uppercase;
		color: var(--static-white);
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		&:not(:last-child) {
			&::after {
				content: "";
				border: 0.0625rem solid var(--static-white-40);
				width: 0rem;
				height: 1.25rem;
				position: absolute;
				right: 0;
				top: 35%;
			}
		}
	}
	// .timer__value
	&__value {
		font-size: 24px;
		line-height: 1.52;
	}
	// .timer__label
	&__label {
		font-size: 12px;
		line-height: 1.3;
	}
}
//========================================================================================================================================================
//========================================================================================================================================================
//TODO GIFNS
//========================================================================================================================================================
//========================================================================================================================================================
//?-CTA------------------------------------------------------------------------------------

.gifts-page {
	// .gifts-page__hero
	&__hero {
		position: relative;
		padding-block: 3.75rem;
	}
	// .gifts-page__container
	&__container {
		position: relative;
		z-index: 3;
		color: var(--content-background);
	}
	// .gifts-page__blok
	&__blok {
		&:not(:last-child) {
			margin-block-end: 1.25rem;
		}
	}
	// .gifts-page__blok-hero
	&__blok-hero {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	// .gifts-page__tabs
	&__tabs {
	}
	// .gifts-page__navigation
	&__navigation {
		display: flex;
		align-items: center;
		justify-content: center;
		&:not(:last-child) {
			margin-block-end: 1.25rem;
		}
	}
	// .gifts-page__title
	&__title {
		border-radius: 0.75rem;
		padding: 0.75rem 1.25rem;
		font-weight: 600;
		font-size: 0.75rem;
		line-height: 1.3;
		text-transform: uppercase;
		transition: all 0.8s ease;
		&:hover {
			background-color: var(--static-white-20);
		}
	}
	// .gifts-page__content
	&__content {
	}
	// .gifts-page__body
	&__body {
		display: none;
		&:target {
			display: block;
		}
	}
	// .gifts-page__cards
	&__cards {
	}
	// .gifts-page__image
	&__image {
		border-radius: 1.25rem;
	}
}

.--tab-active {
	background-color: var(--static-white-20);
}
