@charset "UTF-8";
/* Підключення фрифтів */
/* Google Fonts (Plugin) */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura:wght@400&display=swap");
/* Локальне підключення шрифтів */
/* Скидання стилів */
@import url("reset.css");
/* Скидання змінних */
:root {
  --primary: #ff4646;
  --dark: #181c29;
  --static-white: #fff;
  --content-background: #ecf3f8;
  --tag-purple: #4361ff;
  --tag-pink: #ff43f7;
  --tag-green: #06a44f;
  --primary-10: rgba(255, 70, 70, 0.1);
  --static-white-20: rgba(255, 255, 255, 0.2);
  --static-white-40: rgba(255, 255, 255, 0.4);
  --overlay: rgba(24, 28, 41, 0.8);
  --font-family: "Montserrat", sans-serif;
  --second-family: "Allura", sans-serif;
  --third-family: "SF Pro", sans-serif;
}

/* Основні стилі */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 148%;
  color: var(--dark);
}

.wrapper {
  min-height: 100%;
  overflow: clip; /* clip */
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.wrapper > main {
  flex-grow: 1;
}

/* --------------------- */
[class*=__container] {
  max-width: 1306px;
  padding-inline: 15px;
  margin: 0 auto;
}

/* --------------------- */
/* Стилі для header */
.header {
  padding-block: 0.75rem;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  flex-wrap: wrap;
}
.header__logo {
  border-radius: 0.75rem;
  padding: 0.5rem 1.25rem;
  flex-shrink: 1;
}
.header__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.header__logo-image {
  width: 1.5rem;
  aspect-ratio: 1/1;
}
.header__logo-text {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--dark);
  transition: all 0.8s ease;
}
.header__logo-text:hover {
  color: var(--primary);
}
/* Стилі для main */
.page__hero {
  border-radius: 1.25rem 1.25rem 0 0;
}
.page__about {
  padding-block: 3.75rem;
}
.page__slider {
  padding-block: 3.75rem 1.875rem;
}
.page__best-gifts {
  margin-block-start: -10px;
  padding-block: 3.75rem;
}
.page__cta {
  margin-block-start: -8px;
  padding-block: 3.75rem;
}

.hero__container {
  padding-block: 60px;
  position: relative;
  z-index: 2;
}
.hero__body {
  position: relative;
  padding-block: 60px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__blok-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.75rem;
  color: var(--static-white);
  max-width: 26.75rem;
}
.hero__image {
  border-radius: 1.25rem 1.25rem 0 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.about {
  position: relative;
}
.about__holder {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.about__colum {
  border-radius: 60px;
}
.about__colum img {
  border-radius: 60px;
  margin-inline-start: -60px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 638/528;
}
.about__blok {
  padding: 120px 60px;
  border-radius: 60px 0 0 60px;
  background-color: var(--static-white);
}
.about__content {
  padding-block: 60px;
  display: grid;
  row-gap: 1.25rem;
}
.about__image {
  padding: 60px 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.slider {
  position: relative;
}
.slider__container {
  position: relative;
  z-index: 2;
}
.slider__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.75rem;
}
.slider__content:not(:last-child) {
  margin-block-end: 20px;
}
.slider__swiper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1.25rem;
}
.slider__swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1.25rem;
}
.slider__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}
.slider__button--prev, .slider__button--next {
  border: 1px solid var(--static-white);
  border-radius: 1.25rem;
  padding: 0.9481rem 1.25rem;
}
.slider__button--prev svg, .slider__button--next svg {
  fill: var(--static-white);
  transition: all 0.8s ease;
}
.slider__button--prev:hover, .slider__button--next:hover {
  transition: all 0.8s ease;
  background-color: var(--static-white);
}
.slider__button--prev:hover svg, .slider__button--next:hover svg {
  fill: var(--primary);
}
.slider__button--prev :active, .slider__button--next :active {
  opacity: 0.8;
}
.slider__button--next {
  rotate: 180deg;
}
.slider-blok {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1.25rem;
}
.slider-blok__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 80px;
  text-transform: uppercase;
  text-align: center;
  color: var(--static-white);
}
.slider-blok__images {
  border-radius: 20px;
}
.slider-blok__images img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.best-gifts {
  position: relative;
}
.best-gifts__container {
  position: relative;
  z-index: 2;
}
.best-gifts__content {
  text-align: center;
}
.best-gifts__content:not(:last-child) {
  margin-block-end: 1.25rem;
}
.best-gifts__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 0.75rem;
}
.cta {
  position: relative;
}
.cta__container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.cta__content {
  text-align: center;
}
.cta__content > *:not(:last-child) {
  margin-block-end: 20px;
}
.cta__content:not(:last-child) {
  margin-block-end: 20px;
}
.cta__body {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cta__sab-title {
  font-family: var(--second-family);
  font-size: 1.5rem;
  line-height: 1;
  color: var(--static-white);
}
.cta__sab-title:not(:last-child) {
  margin-block-end: 0.5rem;
}
.cta__timer {
  display: flex;
  border-radius: 20px;
  padding: 8px 12px;
  background-color: var(--static-white-40);
}
.timer__item {
  padding: 0.875rem 0.5813rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--static-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.timer__item:not(:last-child)::after {
  content: "";
  border: 1px solid var(--static-white-40);
  width: 0px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 35%;
}
.timer__value {
  font-size: 24px;
  line-height: 1.52;
}
.timer__label {
  font-size: 12px;
  line-height: 1.3;
}

.gifts-page__hero {
  position: relative;
  padding-block: 60px;
}
.gifts-page__container {
  position: relative;
  z-index: 3;
  color: var(--content-background);
}
.gifts-page__blok:not(:last-child) {
  margin-block-end: 20px;
}
.gifts-page__blok-hero {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gifts-page__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gifts-page__navigation:not(:last-child) {
  margin-block-end: 20px;
}
.gifts-page__title {
  border-radius: 0.75rem;
  padding: 0.75rem 1.25rem;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.3;
  text-transform: uppercase;
  transition: all 0.8s ease;
}
.gifts-page__title:hover {
  background-color: var(--static-white-20);
}
.gifts-page__body {
  display: none;
}
.gifts-page__body:target {
  display: block;
}
.gifts-page__image {
  border-radius: 1.25rem;
}

.--tab-active {
  background-color: var(--static-white-20);
}

/* Стилі для footer */
.footer__container > * {
  margin-block-end: 60px;
}
.footer__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}
.footer__item {
  flex: 0 0 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.75rem;
}
.footer__footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 0.75rem;
  line-height: 1.5;
  color: var(--dark);
}
.footer__caption {
  font-family: var(--second-family);
  font-size: 24px;
  line-height: 1;
  transition: all 0.8s ease;
}

/* БЕМ елементі @import */
.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.menu__item {
  border-radius: 0.75rem;
  padding: 0.75rem 1.25rem;
  transition: all 0.8s ease;
}
.menu__link {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--dark);
  transition: all 0.8s ease;
}
.menu__link:hover {
  color: var(--primary);
}

.icon-menu {
  display: none;
}

.item-footer {
  padding: 1.25rem;
  border-radius: 1.25rem;
  border: 1px dashed var(--content-background);
  background-color: var(--content-background);
  transition: all 0.8s ease;
  cursor: pointer;
}
.item-footer:hover {
  border: 1px dashed var(--tag-green);
  color: var(--primary);
}
.item-footer__sort-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}
.social__link {
  padding: 0.51rem 0.625rem;
}
.social__link svg {
  fill: #181c29;
  transition: all 0.8s ease;
}
.social__link:hover svg {
  transition: all 0.8s ease;
  fill: var(--primary);
}

.blok-hero__subtitle {
  font-family: var(--second-family);
  font-size: 24px;
  line-height: 1;
}
.blok-hero__title {
  max-width: 26.75rem;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}
.blok-hero__sort-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--static-white);
}

.button {
  border-radius: 20px;
  padding: 20px 32px;
  background-color: var(--dark);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: var(--static-white);
  transition: all 0.8s ease;
}
.button:hover {
  background-color: #fff;
  color: var(--dark);
}

.__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  line-height: 148%;
  color: var(--dark);
}
.content__subtitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: var(--primary);
}
.content__subtitle--clear {
  color: var(--static-white);
}
.content__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.52;
  text-transform: uppercase;
}
.content__title--clear {
  color: var(--static-white);
}
.content__text {
  line-height: 1.48;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 0.75rem;
}
.cards__card {
  border-radius: 20px;
  background-color: var(--static-white);
  row-gap: 0.75rem;
  transition: all 0.8s ease;
  position: relative;
}
.cards__card:hover {
  scale: 1.05;
}
.cards__card:hover::before {
  content: "";
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
}

.card__body {
  padding: 1.25rem;
  display: grid;
  row-gap: 0.5rem;
  position: relative;
  z-index: 2;
}
.card__description {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
}
.card__title {
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 1.52;
  text-transform: uppercase;
  color: var(--dark);
}
.card__title-link {
  transition: all 0.8s ease;
}
.card__title-link:hover {
  color: var(--primary);
}

.color {
  color: var(--tag-purple);
}
.color--green {
  color: var(--tag-green);
}
.color--pink {
  color: var(--tag-pink);
}