//?-menu--============================================================================================================================================
.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		column-gap: 0.5rem;
	}
	// .menu__item
	&__item {
		border-radius: 0.75rem;
		padding: 0.75rem 1.25rem;

		transition: all 0.8s ease;
	}
	// .menu__link
	&__link {
		font-weight: 600;
		font-size: 0.75rem;
		line-height: 1.3;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: var(--dark);
		transition: all 0.8s ease;
		&:hover {
			color: var(--primary);
		}
	}
}
.icon-menu {
	display: none;
}

// @media (max-width: toRem(992)){
// 	@import "component/menu.scss";
// }
//========================================================================================================================================================
//?-item-footer--=========================================================================================================================================
.item-footer {
	padding: 1.25rem;
	border-radius: 1.25rem;
	border: 1px dashed var(--content-background);
	background-color: var(--content-background);
	transition: all 0.8s ease;
	cursor: pointer;
	&:hover {
		border: 1px dashed var(--tag-green);
		color: var(--primary);
	}
	// .item-footer__icon
	&__icon {
	}
	// .item-footer__link
	&__link {
	}
	// .item-footer__sort-title
	&__sort-title {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 24px;
		line-height: 1.5;
		text-transform: uppercase;
	}
}
//========================================================================================================================================================
//?-.social===============================================================================================================================================
.social {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 0.75rem;
	// .social__item
	&__item {
	}
	// .social__link
	&__link {
		padding: 0.51rem 0.625rem;
		svg {
			fill: #181c29;
			transition: all 0.8s ease;
		}
		&:hover {
			svg {
				transition: all 0.8s ease;

				fill: var(--primary);
			}
		}
	}
}
//========================================================================================================================================================
//?-button--==============================================================================================================================================
.button {
	border-radius: 20px;
	padding: 20px 32px;
	background-color: var(--dark);
	font-weight: 600;
	font-size: 12px;
	line-height: 1.3;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-align: center;
	color: var(--static-white);
	transition: all 0.8s ease;
	&:hover {
		background-color: #fff;
		color: var(--dark);
	}
}
//========================================================================================================================================================
//?-__bg====================================================================================================================================================
.__bg {
	//position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
//========================================================================================================================================================
//?-content========================================================================================================================================================

.content {
	line-height: 148%;
	color: var(--dark);
	// .content__subtitle
	&__subtitle {
		font-family: var(--second-family);
		font-weight: 400;
		font-size: 24px;
		line-height: 1;
		letter-spacing: 0.05em;
		color: var(--primary);
		&--clear {			
			color: var(--static-white);
		}
	}
	// .content__title
	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 1.52;
		text-transform: uppercase;
		&--clear {			
			color: var(--static-white);
		}
	}
	// .content__text
	&__text {
		line-height: 1.48;
	}
}
