@use "sass:math";
/* Підключення фрифтів */

/* Google Fonts (Plugin) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura:wght@400&display=swap');

//@import "_mixins.scss";

/* Локальне підключення шрифтів */
//@import "_fonts.scss";

/* Скидання стилів */
@import url("reset.css");
/* Скидання змінних */
@import "variables.scss";

/* Основні стилі */
body {
	font-family: "Montserrat", sans-serif;	
	font-size: 16px;
	line-height: 148%;	
	color: var(--dark);	
	//background-color: #141414;
}
.wrapper {	
	min-height: 100%;
	overflow: clip; /* clip */

	display: flex;
	flex-direction: column;

	position: relative;
	z-index: 2;
}
.wrapper > main {
	flex-grow: 1;
}

/* --------------------- */

[class*="__container"] {
	max-width: 1306px;
	padding-inline: 15px;
	margin: 0 auto;
}


/* --------------------- */
/* Стилі для header */
@import "_header";
/* Стилі для main */
@import "_main";
/* Стилі для footer */	
@import "_footer";
//@import "common";

/* БЕМ елементі @import */
@import "_common.scss";


